
<!--RIGHT SECTION-->

<div class="right-section">
    <div class="restotitle-parent">
        <div id="resto-title-container" class="restotitle-container">
        <h1 id="resto-title" class="bold">{{restoData.[0].restoName}}</h1>
        </div>
    </div>
    <div class="review-title-container">
        <h2 class="bold">Reviews</h2>
    </div>
    <div class="reviews-cotainer">
    {{#if commentData.[0]}}
        <div id="first-review" class="review-popup">
        <div class="left-review-popup-odd">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt="no image"
            />
        </div>
        <div class="right-review-popup-odd">
            <h3 id="user1" class="italic bold">{{commentData.[0].username}}</h3>
            <p id="content1">{{commentData.[0].content}}</p>
            {{#each commentData.[0].ratingCount}}
                <span id="first-star-1" class="fa fa-star checked"></span>
            {{/each}}
        </div>
        </div>
    {{/if}}

    {{#if commentData.[1]}}
        <div id="second-review" class="review-popup">
        <div class="left-review-popup-even">
            <h3 id="user2" class="italic bold">{{commentData.[1].username}}</h3>
            <p id="content2">{{commentData.[1].content}}</p>
            {{#each commentData.[1].ratingCount}}
                <span id="first-star-2" class="fa fa-star checked"></span>
            {{/each}}
        </div>
        <div class="right-review-popup-even">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt=""
            />
        </div>
        </div>
    {{/if}}

    {{#if commentData.[2]}}
        <div id="third-review" class="review-popup">
        <div class="left-review-popup-odd">
            <img
            src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg"
            alt=""
            />
        </div>
        <div class="right-review-popup-odd">
            <h3 id="user3" class="italic bold">{{commentData.[2].username}}</h3>
            <p id="content3">{{commentData.[2].content}}</p>
            {{#each commentData.[2].ratingCount}}
                <span id="first-star-3" class="fa fa-star checked"></span>
            {{/each}}
        </div>
        </div>
    {{/if}}
    
    </div>
</div>